---
import Icon from '../AstroIcon.astro';

export interface Props {
  pageUrl: string;
  description: string;
}

const { pageUrl, description } = Astro.props;

const githubUrl = `https://github.com/jm961`;
const fbUrl = `https://www.facebook.com/sharer/sharer.php?quote=${description}&u=${pageUrl}`;
const hnUrl = `https://news.ycombinator.com/submitlink?t=${description}&u=${pageUrl}`;
const redditUrl = `https://www.reddit.com/submit?title=${description}&url=${pageUrl}`;
---

<div class='absolute left-[-60px] top-[110px] h-full hidden' id='page-share-icons'>
  <div class='flex sticky top-[100px] flex-col gap-3'>
    <a 
      href={githubUrl} 
      target='_blank' 
      class='flex h-10 w-10 items-center justify-center rounded-lg bg-white/5 text-muted transition-all hover:bg-primary/20 hover:text-primary'
      aria-label='Visit GitHub Profile'
    >
      <Icon icon='twitter' />
    </a>
    <a 
      href={fbUrl} 
      target='_blank' 
      class='flex h-10 w-10 items-center justify-center rounded-lg bg-white/5 text-muted transition-all hover:bg-primary/20 hover:text-primary'
      aria-label='Share on Facebook'
    >
      <Icon icon='facebook' />
    </a>
    <a 
      href={hnUrl} 
      target='_blank' 
      class='flex h-10 w-10 items-center justify-center rounded-lg bg-white/5 text-muted transition-all hover:bg-primary/20 hover:text-primary'
      aria-label='Share on Hacker News'
    >
      <Icon icon='hackernews' />
    </a>
    <a 
      href={redditUrl} 
      target='_blank' 
      class='flex h-10 w-10 items-center justify-center rounded-lg bg-white/5 text-muted transition-all hover:bg-primary/20 hover:text-primary'
      aria-label='Share on Reddit'
    >
      <Icon icon='reddit' />
    </a>
  </div>
</div>

<script src='./sharer.js'></script>
